@model IEnumerable<BranchDetails>
<div class="card" dir="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
    <div class="headerIndex">
        <h3><span class="text-truncate">@Localizer["BranchList", "Branch"]</span></h3>
        <div>
            <a href="@Url.Action("Create")" class="btn btn-success mb-3">
                <i class="bx bx-plus"></i> <span class="text-truncate">@Localizer["AddNewBranch", "Branch"]</span>
            </a>
            <a href="@Url.Action("AllBranchs","Report")" class="btn btn-info mb-3">
                <i class="bx bx-file"></i> <span class="text-truncate">@Localizer["Report", "Branch"]</span>
            </a>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th><span class="text-truncate">@Localizer["BranchName", "Branch"]</span></th>
                    <th><span class="text-truncate">@Localizer["Address", "Branch"]</span></th>
                    <th><span class="text-truncate">@Localizer["Email", "Branch"]</span></th>
                    <th><span class="text-truncate">@Localizer["PhoneNumbers", "Branch"]</span></th>
                    <th><span class="text-truncate">@Localizer["Actions", "Branch"]</span></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @if (Model != null && Model.Any())
                {
                    int index = 1;
                    foreach (var branch in Model)
                    {
                        <tr>
                            <td>@index</td>
                            <td class="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "text-right" : "")">@branch.Name</td>
                            <td class="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "text-right" : "")">@branch.Address</td>
                            <td class="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "text-right" : "")">@branch.Email</td>
                            <td class="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "text-right" : "")">@string.Join(", ", branch.PhoneNumber)</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("Edit", "Branch", new { id = branch.Id })">
                                            <i class="bx bx-edit-alt me-1"></i> @Localizer["Edit", "Branch"]
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("Delete", "Branch", new { id = branch.Id })">
                                            <i class="bx bx-trash me-1"></i> @Localizer["Delete", "Branch"]
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        index++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center @(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "text-right" : "")">@Localizer["NoBranchesFound", "Branch"]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>