@model IEnumerable<ContactFormDetails>

<h3 class="text-truncate">Contact Forms</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-truncate">Name</th>
            <th class="text-truncate">Email</th>
            <th class="text-truncate">Phone</th>
            <th class="text-truncate">Message</th>
            <th class="text-truncate">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Message</td>
                <td>@item.CreatedOn.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
        }
    </tbody>
</table>
