@{
    ViewData["Title"] = "Reports";
}

<h2 class="text-truncate">Reports</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-truncate">Report Name</th>
            <th class="text-truncate">View Report</th>
            <th class="text-truncate">Download Report</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-truncate">All Bookings</td>
            <td>
                <a href="@Url.Action("ViewAllBooking", "Report")" target="_blank" class="btn btn-info">
                    <span class="text-truncate">View Report</span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllBooking", "Report")" class="btn btn-primary">
                    <span class="text-truncate">Download PDF</span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-truncate">Sent Bookings</td>
            <td>
                <a href="@Url.Action("ViewAllBookingSend", "Report")" target="_blank" class="btn btn-info">
                    <span class="text-truncate">View Report</span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllBookingSend", "Report")" class="btn btn-primary">
                    <span class="text-truncate">Download PDF</span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-truncate">Received Bookings</td>
            <td>
                <a href="@Url.Action("ViewAllBookingRecive", "Report")" target="_blank" class="btn btn-info">
                    <span class="text-truncate">View Report</span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllBookingRecive", "Report")" class="btn btn-primary">
                    <span class="text-truncate">Download PDF</span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-truncate">All Cars</td>
            <td>
                <a href="@Url.Action("ViewAllCars", "Report")" target="_blank" class="btn btn-info">
                    <span class="text-truncate">View Report</span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllCars", "Report")" class="btn btn-primary">
                    <span class="text-truncate">Download PDF</span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-truncate">All Branches</td>
            <td>
                <a href="@Url.Action("ViewAllBranchs", "Report")" target="_blank" class="btn btn-info">
                    <span class="text-truncate">View Report</span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllBranchs", "Report")" class="btn btn-primary">
                    <span class="text-truncate">Download PDF</span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-truncate">All Offers</td>
            <td>
                <a href="@Url.Action("ViewAllOffers", "Report")" target="_blank" class="btn btn-info">
                    <span class="text-truncate">View Report</span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllOffers", "Report")" class="btn btn-primary">
                    <span class="text-truncate">Download PDF</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
