@{
    ViewData["Title"] = "Reports";
}

<h2>Reports</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Report Name</th>
            <th>View Report</th>
            <th>Download Report</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>All Bookings</td>
            <td>
                <a href="@Url.Action("ViewAllBooking", "Report")" target="_blank" class="btn btn-info">
                    View Report
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllBooking", "Report")" class="btn btn-primary">
                    Download PDF
                </a>
            </td>
        </tr>
        <tr>
            <td>Sent Bookings</td>
            <td>
                <a href="@Url.Action("ViewAllBookingSend", "Report")" target="_blank" class="btn btn-info">
                    View Report
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllBookingSend", "Report")" class="btn btn-primary">
                    Download PDF
                </a>
            </td>
        </tr>
        <tr>
            <td>Received Bookings</td>
            <td>
                <a href="@Url.Action("ViewAllBookingRecive", "Report")" target="_blank" class="btn btn-info">
                    View Report
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllBookingRecive", "Report")" class="btn btn-primary">
                    Download PDF
                </a>
            </td>
        </tr>
        <tr>
            <td>All Cars</td>
            <td>
                <a href="@Url.Action("ViewAllCars", "Report")" target="_blank" class="btn btn-info">
                    View Report
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllCars", "Report")" class="btn btn-primary">
                    Download PDF
                </a>
            </td>
        </tr>
        <tr>
            <td>All Branches</td>
            <td>
                <a href="@Url.Action("ViewAllBranchs", "Report")" target="_blank" class="btn btn-info">
                    View Report
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllBranchs", "Report")" class="btn btn-primary">
                    Download PDF
                </a>
            </td>
        </tr>
        <tr>
            <td>All Offers</td>
            <td>
                <a href="@Url.Action("ViewAllOffers", "Report")" target="_blank" class="btn btn-info">
                    View Report
                </a>
            </td>
            <td>
                <a href="@Url.Action("AllOffers", "Report")" class="btn btn-primary">
                    Download PDF
                </a>
            </td>
        </tr>
    </tbody>
</table>
