@model UpdateColor
<h3>@Localizer["EditColor", "Color"]</h3>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>@Localizer["Name", "Common"]</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>@Localizer["Value", "Common"]</label>
        <input asp-for="Value" type="color" class="form-control" value="Value" required />
    </div>
    <div class="form-group">
        <label>@Localizer["Active", "Common"]</label>
        <input type="checkbox" asp-for="IsActive" class="form-check-input" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">@Localizer["UpdateColor", "Color"]</button>
</form>
<p class="text-muted small mt-3">@Localizer["RequiredFieldsNote", "Common"]</p>
