@model LoginAdmin
@{
    ViewData["Title"] = Localizer["Login", "Authentication"];
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}
<h4 class="mb-1 text-center" dir="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">@Localizer["Welcome", "Authentication"]</h4>
<form asp-action="Login" class="" method="post" dir="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
    <div class="form-group">
        <label class="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "float-right" : "")">@Localizer["PhoneNumber", "Authentication"]</label>
        <input asp-for="PhoneNumber" class="form-control @(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "text-right" : "")" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "float-right" : "")">@Localizer["Password", "Authentication"]</label>
        <input asp-for="Password" class="form-control @(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "text-right" : "")" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check @(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "text-right" : "")">
        <input asp-for="RememberMe" class="form-check-input" type="checkbox" />
        <label asp-for="RememberMe" class="form-check-label">@Localizer["RememberMe", "Authentication"]</label>
    </div>
    <button type="submit" class="btn btn-success text-center">@Localizer["Login", "Authentication"]</button>
</form>