@model RegisterUser
@{
    ViewData["Title"] = Localizer["Register", "Authentication"];
}
<h3 class="text-center">@ViewData["Title"]</h3>
<form asp-action="Register" method="post" enctype="multipart/form-data" dir="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
    <div class="form-group">
        <label asp-for="FullName">@Localizer["FullName", "Authentication"]</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">@Localizer["PhoneNumber", "Authentication"]</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">@Localizer["Password", "Authentication"]</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword", "Authentication"]</label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageProfile">@Localizer["ProfileImage", "Authentication"]</label>
        <input asp-for="ImageProfile" class="form-control-file" type="file" />
        <span asp-validation-for="ImageProfile" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">@Localizer["Register", "Authentication"]</button>
</form>