@model Ramz_Elktear.core.DTO.EngineSizeModels.AddEngineSize
<h3>@Localizer["AddNewEngineSize", "EngineSize"]</h3>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>@Localizer["NameArabic", "EngineSize"]</label>
        <input asp-for="NameAr" class="form-control" required />
        <span asp-validation-for="NameAr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["NameEnglish", "EngineSize"]</label>
        <input asp-for="NameEn" class="form-control" required />
        <span asp-validation-for="NameEn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["DescriptionArabic", "EngineSize"]</label>
        <textarea asp-for="DescriptionAr" class="form-control"></textarea>
        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["DescriptionEnglish", "EngineSize"]</label>
        <textarea asp-for="DescriptionEn" class="form-control"></textarea>
        <span asp-validation-for="DescriptionEn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Image", "EngineSize"]</label>
        <input type="file" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" asp-for="IsActive" class="form-check-input" />
            <label class="form-check-label">@Localizer["Active", "EngineSize"]</label>
        </div>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">@Localizer["AddEngineSize", "EngineSize"]</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary mt-3">@Localizer["Cancel", "EngineSize"]</a>
</form>