@model List<ApplicationUser>

<h2><span class="text-truncate">Assign Roles to Users</span></h2>

<table class="table">
    <thead>
        <tr>
            <th><span class="text-truncate">Name</span></th>
            <th><span class="text-truncate">Phone Number</span></th>
            <th><span class="text-truncate">Role</span></th>
            <th><span class="text-truncate">Action</span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <form method="post" asp-action="AssignUserRoles">
            <tr>
                <td>@user.FullName</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <select name="RoleId" multiple class="form-control">
                            @foreach (var role in ViewBag.Roles)
                            {
                            <option value="@role.Id">@role.Name</option>
                            }
                    </select>
                    <input type="hidden" name="UserId" value="@user.Id" />
                </td>
                <td>
                    <button type="submit" class="btn btn-primary"><span class="text-truncate">Assign</span></button>
                </td>
            </tr>
            </form>
        }
    </tbody>
</table>
